[user]
	name = Steve Losh
	email = steve@stevelosh.com

[core]
    pager = cat
    editor = vim
    excludesfile = /Users/sjl/.gitignore

[alias]
    gl  = log -16 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

    pull = pull --ff-only
    merge = merge --no-ff
    up = merge --ff-only

    ci = commit
    cm = commit -m

    co = checkout

    stat = status
    st = status

    unstage = reset HEAD
    uns = reset HEAD

    fo = fetch origin
    fu = fetch upstream
    po = push origin
    lo = pull origin
    mo = !git merge origin/`git branch --contains HEAD | tr -s ' ' | cut -d ' ' -f2`

[push]
	default = current

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[difftool]
    prompt = false

[diff]
    tool = Kaleidoscope

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true
[web]
	browser = open
