[user]
name = Steve Losh
email = steve@stevelosh.com

[core]
pager = cat

[alias]
glog = log --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
gl = log -10 --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

com = commit
cm = commit -m

co = checkout

stat = status
st = status

[color]
branch = auto
diff = auto
interactive = auto
status = auto
