[user]
name = Steve Losh
email = steve@stevelosh.com

[core]
pager = cat
editor = mate -w

[alias]
gl = log -10 --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
gll = log --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

com = commit
cm = commit -m

co = checkout

stat = status
st = status

unstage = reset HEAD
uns = reset HEAD

[color]
branch = auto
diff = auto
interactive = auto
status = auto

[codebase]
username = steve
apikey = zl2b3od1ln9g23438nhvug0yoppe5lkia9ro3pun
domain = dwaiter.codebasehq.com
