-- 7.4.1
AlternativeLayoutRule
AlternativeLayoutRuleTransitional
Arrows
BangPatterns
CApiFFI
CPP
ConstrainedClassMethods
ConstraintKinds
DataKinds
DatatypeContexts
DefaultSignatures
DeriveDataTypeable
DeriveFoldable
DeriveFunctor
DeriveGeneric
DeriveTraversable
DisambiguateRecordFields
DoAndIfThenElse
DoRec
EmptyDataDecls
ExistentialQuantification
ExplicitForAll
ExtendedDefaultRules
FlexibleContexts
FlexibleInstances
ForeignFunctionInterface
FunctionalDependencies
GADTSyntax
GADTs
GHCForeignImportPrim
GeneralizedNewtypeDeriving
Haskell2010
Haskell98
ImplicitParams
ImplicitPrelude
ImpredicativeTypes
IncoherentInstances
InterruptibleFFI
KindSignatures
LiberalTypeSynonyms
MagicHash
MonadComprehensions
MonoLocalBinds
MonoPatBinds
MonomorphismRestriction
MultiParamTypeClasses
NPlusKPatterns
NamedFieldPuns
NoAlternativeLayoutRule
NoAlternativeLayoutRuleTransitional
NoArrows
NoBangPatterns
NoCApiFFI
NoCPP
NoConstrainedClassMethods
NoConstraintKinds
NoDataKinds
NoDatatypeContexts
NoDefaultSignatures
NoDeriveDataTypeable
NoDeriveFoldable
NoDeriveFunctor
NoDeriveGeneric
NoDeriveTraversable
NoDisambiguateRecordFields
NoDoAndIfThenElse
NoDoRec
NoEmptyDataDecls
NoExistentialQuantification
NoExplicitForAll
NoExtendedDefaultRules
NoFlexibleContexts
NoFlexibleInstances
NoForeignFunctionInterface
NoFunctionalDependencies
NoGADTSyntax
NoGADTs
NoGHCForeignImportPrim
NoGeneralizedNewtypeDeriving
NoImplicitParams
NoImplicitPrelude
NoImpredicativeTypes
NoIncoherentInstances
NoInterruptibleFFI
NoKindSignatures
NoLiberalTypeSynonyms
NoMagicHash
NoMonadComprehensions
NoMonoLocalBinds
NoMonoPatBinds
NoMonomorphismRestriction
NoMultiParamTypeClasses
NoNPlusKPatterns
NoNamedFieldPuns
NoNondecreasingIndentation
NoOverlappingInstances
NoOverloadedStrings
NoPackageImports
NoParallelArrays
NoParallelListComp
NoPatternGuards
NoPatternSignatures
NoPolyKinds
NoPolymorphicComponents
NoPostfixOperators
NoQuasiQuotes
NoRank2Types
NoRankNTypes
NoRebindableSyntax
NoRecordPuns
NoRecordWildCards
NoRecursiveDo
NoRelaxedLayout
NoRelaxedPolyRec
NoScopedTypeVariables
NoStandaloneDeriving
NoTemplateHaskell
NoTraditionalRecordSyntax
NoTransformListComp
NoTupleSections
NoTypeFamilies
NoTypeOperators
NoTypeSynonymInstances
NoUnboxedTuples
NoUndecidableInstances
NoUnicodeSyntax
NoUnliftedFFITypes
NoViewPatterns
NondecreasingIndentation
OverlappingInstances
OverloadedStrings
PackageImports
ParallelArrays
ParallelListComp
PatternGuards
PatternSignatures
PolyKinds
PolymorphicComponents
PostfixOperators
QuasiQuotes
Rank2Types
RankNTypes
RebindableSyntax
RecordPuns
RecordWildCards
RecursiveDo
RelaxedLayout
RelaxedPolyRec
Safe
ScopedTypeVariables
StandaloneDeriving
TemplateHaskell
TraditionalRecordSyntax
TransformListComp
Trustworthy
TupleSections
TypeFamilies
TypeOperators
TypeSynonymInstances
UnboxedTuples
UndecidableInstances
UnicodeSyntax
UnliftedFFITypes
Unsafe
ViewPatterns
--
-fdo-lambda-eta-expansion
-fembed-manifest
-fgen-manifest
-fghci-history
-fghci-sandbox
-fhelpful-errors
-fignore-interface-pragmas
-fimplicit-import-qualified
-fno-break-on-error
-fno-break-on-exception
-fno-building-cabal-package
-fno-case-merge
-fno-cse
-fno-dicts-cheap
-fno-do-eta-reduction
-fno-eager-blackholing
-fno-enable-rewrite-rules
-fno-excess-precision
-fno-expose-all-unfoldings
-fno-ext-core
-fno-float-in
-fno-force-recomp
-fno-full-laziness
-fno-hpc-no-auto
-fno-ignore-asserts
-fno-liberate-case
-fno-new-codegen
-fno-pedantic-bottoms
-fno-print-bind-result
-fno-print-evld-with-show
-fno-print-explicit-foralls
-fno-prof-cafs
-fno-regs-graph
-fno-regs-iterative
-fno-rewrite-rules
-fno-run-cps
-fno-run-cpsz
-fno-spec-constr
-fno-specialise
-fno-static-argument-transformation
-fno-strictness
-fno-unbox-strict-fields
-fno-vectorise
-fno-warn-auto-orphans
-fno-warn-dodgy-exports
-fno-warn-dodgy-imports
-fno-warn-hi-shadowing
-fno-warn-identities
-fno-warn-implicit-prelude
-fno-warn-incomplete-patterns
-fno-warn-incomplete-record-updates
-fno-warn-incomplete-uni-patterns
-fno-warn-missing-import-lists
-fno-warn-missing-local-sigs
-fno-warn-missing-signatures
-fno-warn-monomorphism-restriction
-fno-warn-name-shadowing
-fno-warn-orphans
-fno-warn-safe
-fno-warn-tabs
-fno-warn-type-defaults
-fno-warn-unsafe
-fno-warn-unused-binds
-fno-warn-unused-do-bind
-fno-warn-unused-imports
-fno-warn-unused-matches
-fomit-interface-pragmas
-fprint-bind-contents
-fprof-count-entries
-fshared-implib
-fwarn-alternative-layout-rule-transitional
-fwarn-deprecated-flags
-fwarn-deprecations
-fwarn-dodgy-foreign-imports
-fwarn-duplicate-exports
-fwarn-lazy-unlifted-bindings
-fwarn-missing-fields
-fwarn-missing-methods
-fwarn-overlapping-patterns
-fwarn-unrecognised-pragmas
-fwarn-warnings-deprecations
-fwarn-wrong-do-bind
