#switcher {
    display: none !important;
}
.issue .meta a {
    color: #666 !important;
}
.issue .meta {
    display: none !important;
}
.issue ul.people {
    margin-top: 13px !important;
}
.issue ul.people li:nth-child(2) {
    display: none;
}
.issue .new-priority {
    padding-left: 6px !important;
}
.issue h2 {
    margin-top: 2px;
}
