table.grouped tr.group td {
    padding: 6px 0px 4px 7px !important;
}
tr.issue td {
    padding: 8px 8px 6px 0px !important;
}
tr.issue td.subject span.assignee {
    /* display: none; */
}
tr.issue td {
    border-bottom: 1px solid #eee !important;
}
