// First grab Stylebot: https://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha?hl=en

#wx-breaking-now {
    display: none;
}

#wx-wrapper {
    border-style: none;
}

#wx-rail {
    display: none;
}

div.wx-inner {
    display: none;
}

div.wx-module.wx-gptADS {
    display: none;
}

div.wx-next a {
    display: none;
}

div.wx-nav-arrow.wx-k-lg-rt {
    display: none;
}

div.wx-content {
    display: none;
}

div.wx-social-share-ls-wrapper ul {
    display: none;
}

div.wx-search form input {
    display: none;
}

div.wx-searchButton {
    display: none;
}

div.wx-search {
    display: none;
}

#wx-bottom-inner {
    height: 400px;
}

dl.wx-1 {
    display: none;
}

dl.wx-2 {
    display: none;
}

dl.wx-3 {
    display: none;
}

dl.wx-4 {
    display: none;
}

ul.wx-social {
    display: none;
}

div.wx-legal {
    display: none;
}

#wx-Strip {
    display: none;
}

#wx-header-tools {
    display: none;
}

div.wx-desktop-weather-btn a {
    display: none;
}

div.wx-desktop-weather-bg {
    display: none;
}

span.wx-icon.wx-desktop-weather {
    display: none;
}

li.twc-weather-edit-location {
    display: none;
}

div.wx-grid6of6 {
    height: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#wx-inner-rail {
    clear: left;
}

div.fby-tab.fby-tab-r a {
    display: none;
}

div.fby-tab.fby-tab-r {
    display: none;
}

div.wx-prev a {
    display: none;
}

div.wx-nav-arrow.wx-k-lg-lt {
    display: none;
}

div.wx-free-title h3 {
    display: none;
}

a.wx-icon.wx-cond.wx-phone {
    display: none;
}

a.wx-icon.wx-cond.wx-desktop {
    display: none;
}

a.wx-icon.wx-cond.wx-tablet {
    display: none;
}

div.wx-social-share-bar {
    display: none;
}

div.wx-lifestyles div {
    display: none;
}

#fsr_modalOverlay {
    display: none;
}

div.fsrwin {
    display: none;
}

div.wx-24hour.wx-module.wx-grid3of6.wx-weather {
    margin-left: 0;
    padding-left: 0;
}

div#wx-footer {
    border-top: 0;
}

div#wx-top-wrap {
    width: 660px;
}

div#wx-main {
    float: none;
    margin: 0 auto;
}

div.trc_rbox_outer {
    display: none;
}

div.trc_rbox_header.trc_rbox_border_elm {
    display: none;
}

div.trc_rbox_container div {
    display: none;
}

div.wx-map {
    margin-left: 165px;
}

div#wx-forecast-container div.wx-map {
    margin-left: 0;
}

.wx-grid6of6 {
    width: auto;
}

div.wx-corsican {
    display: none;
}

div.wx-module.wx-featured.wx-wwir-module.wx-cond-bg {
    display: none;
}