# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet sl
	http://stevelosh.com/
snippet gh
	http://github.com/
snippet ghs
	http://github.com/sjl/
snippet bb
	http://bitbucket.org/
snippet bbs
	http://bitbucket.org/sjl/
