# Fucking imports, how do they work?
snippet nfis
	(:use ${1:foo.core})
snippet nfi
	(:use [${1:foo.core} :only (${2:bar})])
snippet ni
	(:require [${1:foo.core}])
snippet nia
	(:require [${1:foo.core} :as ${2:bar}])
snippet niar
	(:require [${1:foo.core}])
	(:import [$1 ${2:Bar}])
