snippet notice
	<span class="label notice">${1:Notice}</span>
snippet warning
	<span class="label warning">${1:Warning}</span>
snippet important
	<span class="label important">${1:Important}</span>
snippet success
	<span class="label success">${1:Success}</span>
snippet label
	<span class="label">${1:Note}</span>
